/* Don't change the existing CSS. */

#outer-box {
  background-color: purple;
<<<<<<< HEAD
  padding: 30px;
=======
  padding: 8px;
>>>>>>> 834bc27e9dcfa000f2a672d948da3fa817822b06
}

.box {
  background-color: blue;
  padding: 10px;
}

.inner-box {
  background-color: red;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

.white-text {
  color: white;
}
